@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    font-size: 16px;
    text-decoration: none;


}



body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: white;


}

/* Fonts */

.card-title {
    font-size: 3.125rem;
    margin-bottom: 0.5rem;
    line-height: 1.5;
    font-weight: 600;
    color: white;
}

.card-subtitle {
    color: white;
    font-size: 1.625rem;
    font-weight: 400;
    margin: 1rem 0;

}

.email-form-title {
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    padding-bottom: 20px;
}

/* Banner Wrap */

header {
    background-image: url(./assets/bgimage.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    border-bottom: 10px solid #222222;
    position: relative;
    z-index: 1;



}

.overlay {
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 70%;
    position: absolute;
    top: 0;

}

nav {

    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    margin: 0px 45px;
    padding-top: 45px;



}

nav>img {
    height: 32px;

}

nav>a {
    color: white;
    padding: 7px 17px;
    background-color: red;
    text-decoration: none;
    border-radius: 3px;

}

.banner-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 45px);
    justify-content: center;
    text-align: center;

}

.get-started-form {
    height: 60px;
    display: flex;

}

.get-started-form input {
    height: 100%;
    width: 450px;
    padding-left: 10px;

}

.get-started-form button {
    color: white;
    background-color: rgb(229, 9, 20);
    padding: 0 26px;
    height: 100%;
    font-size: 1.625rem;
    border: none;
    min-height: 60px;
    border-left: 1px solid #333;



}

.info-container {
    display: flex;
    padding: 70px 45px;
    border-bottom: 10px solid #222222;


}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.Tv-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Tv-container img {
    z-index: 1;
}

.Tv-container video {
    position: absolute;

}

/* Footer styles */

.footer-top {
    margin-bottom: 30px;

}

.footer-links li {
    font-size: 13px;
    line-height: 2;

}


.footer-items {
    margin: 0 47.5px;
    padding: 70px 45px 0px 45px;
}

footer ul li,
.question-title {
    color: #757575;

}


footer ul li:hover,
.question-title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer-links {
    list-style-type: none;
    columns: 4;
    padding: 0;

}

.language {
    height: 53px;
    width: 142px;
    color: #222222;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid;
    padding: 0 10px;
    margin-top: 30px;
    border-radius: 3px;


}

.language select {
    padding: 10px;
    width: 100%;
    border: none;
    appearance: none;
    background: black;
    color: #999999;
    background: url(./assets/carot.png)no-repeat 100%;

}

.footer-country {
    font-size: 13px;
    margin-top: 24px;
    color: #757575;
}